.title{
            font-size: 3rem;
            font-weight: bold;
        }

        .author{
            font-size: 2rem;
            font-style: italic;
        }

        .subtitle{
            font-size: 2.2rem;
            font-weight: 500;
        }

        .regular-text{
            font-size: 1.2rem;
        }
