
        @font-face {
            font-family: "MagicCastle";
            src: url("fonts/the_magic_castle/the-magic-castle.ttf") format("truetype");
            font-display: swap;
        }

        @font-face {
            font-family: "ComicSans";
            src: url("fonts/comicneuesansid/ComicNeueSansID.ttf") format("truetype");
            font-display: swap;
        }



        .title{
            font-family: "MagicCastle";
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: .15rem;
            text-transform: uppercase;
        }

        .title:hover{
            font-style: italic;
            color: blue;
        }

        .author{
            font-size: 2rem;
            font-style: italic;
            word-spacing: .75rem;
        }

        .subtitle{
            font-size: 2.2rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        .subtitle:hover{
            font-weight: bold;
            color: red;
        }

        .regular-text{
            font-family: "ComicSans", sans-serif;
            font-size: 1.2rem;
            text-align:justify;
        }
        
        .regular-text__negrita{
            font-weight: bold;
        }
        
        .regular-text--all-caps{
            text-transform: uppercase;
        }

        .text-highlight{
            background-color: yellow;
        }