body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("wall.jpg");
  background-size: cover;
  background-position: center;
  perspective: 1000px;
}

.floor img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;

  transform-origin: top center;

  transform: rotateX(30deg) rotateY(-5deg) translateY(10%) scale(1.2);
  
  backface-visibility: hidden;
}

.sheep {
  position: absolute;
  bottom: 25vh;
  left: 50%;
  transform: translateX(-50%);
  width: 10vw;
  height: auto;
  filter: drop-shadow(-10rem -8.5rem 0.1rem black);
}
