.cookies {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    font-size: small;
    width: fit-content;
    max-width: 15rem;
    background-color: #A59C83;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;

    opacity: 0;
    animation-name: delay-entry;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 1s;
}

.buttons{
    margin-bottom: 5px;
    border-radius: 10px;
}


@keyframes delay-entry {
    
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}