        :root {
            --color-contenido: #FF5645;
            --color-principal: #fff;
            --fuente-titulo: 'Montserrat', sans-serif;
            --fuente-texto: 'Roboto', sans-serif;
        }

        html, body {
            margin: 0;
        }

        .hero {
            display: flex;
            width: 100%;
            height: 100vh;
            background-image: url("hero-image.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0px;
        }

        
        .hero__title{
            color: var(--color-principal);
            font-family: var(--fuente-titulo);
            text-transform: uppercase;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .decoration{
            font-size: 4rem;
            font-weight: bolder;
        }

        .hero__decoration{
            color: var(--color-contenido);
        }

        .content__decoration{
            color: var(--color-principal)
        }

        .text{
            font-family: var(--fuente-texto);
            color: var(--color-principal);
            font-size: 1.5rem;
            text-align: justify;
            text-align-last: center;
        }

        .button{
            font-size: 1.5rem;
            border-radius: 9999px; 
            border: none;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0.5rem 1.5rem;
        }

        .hero__button{
            color: var(--color-principal);
            background-color: var(--color-contenido);
        }

        .content__button{
            color: black;
            background-color: var(--color-principal);
        }

        .content{
            display: flex;
            width: 100%;
            height: 60vh;
            background-color: var(--color-contenido);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0px;
        }

        .content__title{
            color: var(--color-principal);
            font-size: 2rem;
            margin-bottom: 1rem;
        }