
        .important-text{
            text-decoration: underline;
        }

        .header__text{
            display: block; 
            width: 30%;
            height: fit-content;
            background-color: aquamarine;

            text-align: justify;
            text-align-last: center;
            margin-bottom: 3rem;
        }

        .hero{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: 15rem;

        }

        .hero__title{
            font-family: "Tahoma",sans-serif;
            text-transform: lowercase;
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }

        .hero__text{
            font-size: 1rem;
        }

        .hero__button{
            margin-right: auto;
            border-radius: 9999px;
        }