        ul {
            list-style: none;
            padding:0;
            list-style-position: inside;
            
        }

        li {
            width: 10rem;
            height: 1rem;
            border: 2px solid black;
            background-color: aqua;
            text-align: center;
            padding: 1rem;
        }

        li:hover {
            background-color: blue;
        }