main{
    background-color: var(--primary-background);
    width: 100%;
    height: auto;
    padding-top: 6.5vw;
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;
}

.actividades__titulo{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 1rem;
}

table{
    border-collapse: collapse;
    margin-block: 5vh;
    background-color: var(--dry-sage);
    border-radius: 20px;
    color: black;
    font-family: var(--text-font);
    font-weight: bold;
}

.actividades a{
    color: black;
}
.actividades a:visited{
    color: black;
}

th,td{
    padding: 2rem;
    text-align: center;
    border: 2px solid var(--primary-background);
    vertical-align: middle;
}
