main{
    background-color: var(--primary-background);
    width: 100%;
    height: auto;
    padding-top: 6.5vw;
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;
}

.actividades__titulo{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 1rem;
}

table{
    border-collapse: collapse;
}