@import url("variables.css");

header {
    font-family: var(--title-font);
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding-block: 1.5%;
    color: var(--dry-sage);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  
}

.header__logo{
    margin-left: var(--header-margin);
}

ul.header__navigation-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    margin-right: var(--header-margin);
}

.element__button{
    font-size: 2vw;
    background-color: var(--elements-buttons);
    padding: 1vw;
    border-radius: 1px solid black;
    border-radius: 20px;
}

.info-card{
    background-color: var(--informational);    
}

