@import url("variables.css");

header {
    font-family: var(--title-font);
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding-block: 1.5%;
    color: var(--dry-sage);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  
}

.header__logo{
    margin-left: var(--header-margin);
}

ul.header__navigation-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    margin-right: var(--header-margin);
}

.element__button{
    font-size: 2vw;
    background-color: var(--elements-buttons);
    padding: 1vw;
    border-radius: 1px solid black;
    border-radius: 20px;
}

.info-card{
    background-color: var(--informational);
    width: 80vw;
    min-height: 3vw;
    border-radius: 20px;
    padding-inline: 5vw;
    padding-block: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-card__toggle {
    display: none;
}

.info-card__extra {
    max-height: 0;
    overflow: hidden;
    display: block;
    transition: max-height 0.4s ease;
}

.info-card__toggle:checked ~ .info-card__description .info-card__extra {
    max-height: 500px;
}

.info-card__view-more::before {
  content: "Leer más ↗";
  cursor: pointer;
  font-weight: 600;
}

.info-card__toggle:checked ~ .info-card__view-more::before {
  content: "Leer menos ↘";
}

.info-card__text-section{
    width: 75%;
    display: flex;
    flex-direction: column; 
}


.info-card__title{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-card__description{
    font-family: var(--text-font);
    font-size:1.2vw;
}



.info-card__education-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem
    
}

.info-card__education-center__title{
    font-family: var(--title-font);
    font-size: 1.5vw;
    text-align: center;

    
}

.info-card__education-center__logo{
    width: 5.5vw;
    height: auto;
}

.info-card__view-more {
    margin-top: auto;
}




