@import url(variables.css);

* {
    padding:0;
    margin: 0;
}

.pagina-principal-formulario{
    background-color: var(--primary-background);
    width: 100%;
    height: 100vh;
    padding-top: 2.5rem;
    box-sizing: border-box;
    color: var(--dry-sage);
    display:flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: var(--informational);
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px
}

.formulario__title{
    font-family: var(--title-font);
    font-size: 3vw;
    background-color: var(--elements-buttons);
    padding: 1vw;
    border-radius: 20px;
}



