@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url("variables.css");

* {
    /* border: 1px solid black; */
    padding:0;
    margin: 0;
}

.pagina-principal{
    background-color: var(--primary-background);
    width: 100%;
    height: 100vh;
    padding-top: 2.5rem;
    box-sizing: border-box;
    color: var(--dry-sage);
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.pagina-principal__informacion{
    max-width: 60%;
}

.pagina-principal__title{
    font-family: var(--title-font);
    font-size: 3.75vw;
    font-weight: bold;
    margin-block: 1rem;
    margin-inline: 2rem;
}

.pagina-principal__subtitle{
    font-family: var(--text-font);
    font-size: 1.5vw;
    margin-inline: 2rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin-inline-end: 2rem;

    /* height: 100%; */
    width: 100%;
    padding: 0.5rem;
    background-color: var();
}

.sidebar__button{
    justify-content: center;
    align-items: flex-end;
    margin-block: 5vh;
}
