@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url("variables.css");

* {
    padding:0;
    margin: 0;
}

.pagina-principal{
    background-color: var(--primary-background);
    width: 100%;
    height: 100vh;
    padding-block: 7.5vw;
    box-sizing: border-box;
    color: var(--dry-sage);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagina-principal__container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vh;
}

.pagina-principal__informacion{
    width: 100%;

}

.pagina-principal__title{
    font-family: var(--title-font);
    font-size: 3.5vw;
    font-weight: bold;
    margin-block: 1vh;
}


.sidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-inline-end: 2rem;

    width: 100%;
    background-color: var();
    margin-top:auto;
}

.sidebar__text-container{
    max-width: 60%;
}

.sidebar__subtitle{
    font-family: var(--text-font);
    font-size: 1.5vw;
    max-width: 60%;
}

.sidebar__button{
    align-self: center;
    margin-block: 5vh;
    max-width: 40%;
    margin-right: 10%;
}
