main{
    background-color: var(--primary-background);
    width: 100%;
    height: auto;
    padding-top: 6.5vw;
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;
}

.maquetacion-imagenes{
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;

}

.maquetacion__titulo{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 2.5vw;
    font-weight: bold;
    align-self: flex-start;
    margin-block: 1rem;
}

img{
    width: 70%;
    height: auto;
}

a{
    margin-block: 1vh;
}