@import url(variables.css);

* {
    border: 1px black solid;
    padding:0;
    margin: 0;
}

.pagina-principal-proyectos{
    background-color: var(--primary-background);
    width: 100%;
    height: 100vh;
    padding-top: 7.5vh;
    box-sizing: border-box;
    color: var(--dry-sage);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyectos__title{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 2.5vw;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.proyectos__actividades{

}

.actividad{
    font-family: var(--title-font);
    font-size: 3vw;
    background-color: var(--elements-buttons);
    padding: 0.9vw;
    border-radius: 20px;
}

