@import url("variables.css");

* {
    /* border: 1px solid black; */
    padding:0;
    margin: 0;
}

.apartado-formacion{
    background-color: var(--primary-background);
    width: 100%;
    height: auto;
    padding-block: 5rem;
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;

}

.formacion__titulo{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 2.5vw;
    margin-left: 5%;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 1rem;
}

