@import url("variables.css");

* {
    /* border: 1px solid black; */
    padding:0;
    margin: 0;
}

.apartado-principal{
    background-color: var(--primary-background);
    width: 100%;
    height: 100vh;
    padding-top: 2.5rem;
    box-sizing: border-box;
    color: var(--dry-sage);
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

