@import url("variables.css");

* {
    padding:0;
    margin: 0;
}

.sobre-mi{
    background-color: var(--primary-background);
    width: 100%;
    height: auto;
    padding-block: 6.5vw;
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;
}

.apartado-cursos,
.apartado-formacion{
    box-sizing: border-box;
    color: var(--dry-sage);

    display:flex;
    flex-direction: column;
    align-items: center;

}

.sobre-mi__titulo{
    font-family: var(--title-font);
    color: var(--dry-sage);
    font-size: 2.5vw;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 1rem;
}

