        p {
            background-color: skyblue;
        }
        .p1{
            width: 80%;
        }
        .p2{
            width: 60%;
        }
        .p3{
            width: 40%;
        }
        .p4{
            width: 20%;
        }
        .p5{
            width: 10%;
        }